body{
   text-align: center
}
.line{
   height: 8px;
    background-color: aquamarine;
    width: 10px;
    margin: 8px auto;
}
#Applab{
    background-color: azure;
}
#games{
    background-color: aqua;
}    
a{
    margin-left:40px; 
}  
#spritelab{
    background-color:deepskyblue;
}
#chatbot{
    background-color:cyan
}